

.autenticacao {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}

.autenticacao .painel {
  transition: flex-basis 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.autenticacao .loginPainel {
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.autenticacao.loginAtivo .painel {
  flex-basis: 50%;
}

.autenticacao.loginAtivo .loginPainel {
  transform: translateX(0);
}

.autenticacao .textoRecortado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  transition: all 1.0s cubic-bezier(0.77, 0, 0.175, 1);
}

.autenticacao.loginAtivo .textoRecortado {
  top: 40px;
  left: 40px;
  transform: translate(0, 0) scale(0.6);
  color: white;
  text-shadow: none;
}

.autenticacao.loginAtivo .carrossel {
  opacity: 1;
  transition-delay: 1.5s;
}