.painel {
  background: linear-gradient(to top right, #0C38C9, #8D0B99);
  flex-basis: 100%;
  flex-shrink: 0;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}