.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modalConteudo {
    background-color: #000;
    border: 1px solid #CD39E7;
    border-radius: 8px;
    padding: 2rem 3rem;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    color: #fff;
    box-shadow: 0 5px 25px rgba(205, 57, 231, 0.3);
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tituloFormulario {
  font-family: 'Iceland', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #CD39E7;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 2px solid #CD39E7;
}

.rotulo {
  display: block; 
  font-size: 0.9rem;
  margin-bottom: -10px;
  color: #B1A9A9;
  text-align: left; 
}

.campo, .campoArea {
  width: 100%;
  padding: 12px 15px;
  background-color: #000;
  border: 1px solid #B1A9A9;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  box-sizing: border-box; 
  color-scheme: dark;
}

.campoArea {
  min-height: 120px; 
  resize: vertical; 
}

.campo:focus-visible,
.campoArea:focus-visible {
  outline: none;
  border-color: #00d8ff;
  box-shadow: 0 0 5px #00d8ff;
}

.campoReadOnly {
    font-size: 0.9rem;
    color: #000;
    padding: 10px;
    background-color: #DBDBDB;
    border-radius: 8px;
}
.campoReadOnly strong {
    color: #000;
}

.formErro {
  color: #B1A9A9; 
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}

.modalBotoes {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.botaoAcao {
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 120px;
}

.botaoAcao.aprovar {
    background:  #00d8ff;
    color: #000;
}

.botaoAcao.aprovar:disabled {
    opacity: 0.1;
    cursor: not-allowed;
}

.botaoAcao.recusar {
    background-color: #DD8484;
    color: #000;
}
.botaoAcao.recusar:hover {
    background-color: white;
}
.botaoAcao.recusar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}