@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');



.navBar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed; 
    top: 0;         
    left: 0;        
    width: 100%;     
    height: 60px;  
    color: white;    
    padding: 0 20px; 
    z-index: 1000;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoNav {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-right: 40px;
    font-family: 'Iceland', Arial, Helvetica, sans-serif;
}
.logoNav:hover{
    color: #CD39E7;
}

.campoBusca {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

}

.campoBusca input[type='search'] {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    min-width: 500px;
    color: black;
    background-color: #ffffff;
    
}



.iconeBusca {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
    padding: 0;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;    
    display: flex;
    width: 30px;
    height: 31px;
}


.iconeBusca span {
    font-size: 1.0rem;
    line-height: 1; 
}

.menuNav ul {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    margin-right: 60px;
}

.menuNav li {
    margin-left: 20px; 
}

.menuNav a {
    text-decoration: none; 
    color: white; 
    font-weight: 500;
    padding: 10px 0;
    display: block;
    transition: color 0.3s ease;
}

.menuNav a:hover {
    color: #CD39E7; 
}



.menuUsuario {
    position: relative; 
    margin-left: 15px;
    margin-right: 40px;
}


.botaoMenuUsuario {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 2.2rem; 
    color: white; 
    transition: color 0.3s ease, opacity 0.3s ease;
    line-height: 1; 
}

.botaoMenuUsuario:hover {
    opacity: 0.8;
}


.botaoMenuUsuario:focus-visible {
    outline: 2px solid #00d8ff;
    outline-offset: 2px;
    border-radius: 4px;
}


.icon-comum {
    color: #00d8ff; 
}
.icon-adm {
    color: #cd39e7; 
}


.dropdownConteudo {
    display: none; 
    position: absolute;
    right: 0; 
    top: 100%; 
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    min-width: 180px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    z-index: 1001;
    padding: 0.5rem 0;
    margin: 8px 0 0 0;
    list-style: none; 
}


.dropdownConteudo.aberto {
    display: block;
}


.dropdownConteudo a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    text-align: left;
    font-size: 0.95rem;
    font-weight: 500;
}


.dropdownConteudo a:hover,
.dropdownConteudo a:focus-visible {
    background-color: #333;
    color: #cd39e7;
    outline: none; 
}