

.loginPainel {
  width: 50%;
  height: 100vh;
  background-color: #000;
  flex-shrink: 0; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.loginForm h2 {
  font-family: 'Iceland', sans-serif;
  font-size: 3rem;
  margin-bottom: 30px;
}

.loginForm label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #aaa;
  margin-right: 400px;
  white-space: nowrap;
}

.loginForm input {
  background-color: #000;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 12px 15px;
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
}

.loginForm .link {
  font-size: 0.8rem;
  color: #aaa;
  text-decoration: none;
  text-align: right;
  margin-top: -10px;
  margin-bottom: 30px;
}

.loginForm .enterBotao {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 12px;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.loginForm .link {
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}
.loginForm .link a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.loginForm .formErro {
  color: #ff6b6b; 
  font-size: 0.9rem;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
}

