@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');




.navBar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed; 
    top: 0;         
    left: 0;        
    width: 100%;     
    height: 60px;  
    color: white;    
    padding: 0 20px; 
    z-index: 1000;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.logoNav {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-right: 40px;
    font-family: 'Iceland', Arial, Helvetica, sans-serif;

}
.logoNav:hover{
    color: #CD39E7;
}


.campoBusca {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.campoBusca input[type='search'] {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    min-width: 500px;
}

.iconeBusca {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
    padding: 0;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;    
    display: flex;
    width: 30px;
    height: 31px;

}


.menuNav ul {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    margin-right: 60px;
}

.menuNav li {
    margin-left: 20px; 
}

.menuNav a {
    text-decoration: none; 
    color: white; 
    font-weight: 500;
    padding: 10px 0;
    display: block;
    transition: color 0.3s ease;
}

.menuNav a:hover {
    color: #CD39E7; 
}